
bin

tmp

projects/eclipse-workspace/.metadata

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/bin/*

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/gen/*

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/obj/*

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/bin/*

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/gen/*

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/obj/*

projects/eclipse-workspace/com.nibsa.nixtla.linux.demo.captureeco/Debug

projects/eclipse-workspace/com.nibsa.nixtla.linux.demo.playwav/Debug

projects/xcode/lib-nixtla-audio.xcworkspace/xcuserdata

projects/xcode/lib-nixtla-audio.xcworkspace/xcshareddata

projects/xcode/lib-nixtla-audio/lib-nixtla-audio.xcodeproj/xcuserdata

projects/xcode/lib-nixtla-audio-demos/lib-nixtla-audio-demos.xcodeproj/xcuserdata

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/libs/armeabi

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/libs/armeabi-v7a

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/libs/mips

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.captureeco/libs/x86

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/libs/armeabi-v7a

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/libs/armeabi

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/libs/mips

projects/eclipse-workspace/com.nibsa.nixtla.android.demo.playwav/libs/x86

projects/visual-studio/lib-nixtla-audio.suo

projects/visual-studio/nixtla-audio.suo

projects/visual-studio/lib-nixtla-audio-win-demo-captureeco/lib-nixtla-audio-win-demo-captureeco.vcxproj.user

projects/visual-studio/lib-nixtla-audio-win-demo-playwav/lib-nixtla-audio-win-demo-playwav.vcxproj.user

